




<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>
</head>

	<body>

<ul class="scroll"> 
<marquee behavior="scroll" direction="up" scrollamount="9" >
<l1><img src="/assets/v.jpg"  width="130px" height="150px" alt="Arrow pointing up" /></li>
</marquee>

	<marquee behavior="scroll" direction="up" scrollamount="9" >
<li><img src="/assets/l.jpg" width="130px" height="150px" alt="Arrow pointing up" /></li>
</marquee>

</ul>

<%= yield %>

    <%= javascript_include_tag "application" %>
</body>
</html>