



<div id="home">
 <div class="right">
	<ul class="scroll"> 
       
          <marquee direction="left"><img src="/assets/v.jpg" width="250px" height="250px"><img src="/assets/l.jpg" width="250px" height="250px"><img src="/assets/v.jpg" width="250px" height="250px"><img src="/assets/l.jpg" width="250px" height="250px"><img src="/assets/v.jpg" width="250px" height="250px"><img src="/assets/l.jpg" width="250px" height="250px"></marquee>
        
    </ul>
</div>

<div class="left">
	<p>hello here goes the content now</p>
</div>

</div>
<br>

  


