body 
{
 margin:0px;
}

#nav
 {
 background-color:#3EBC40;
 width:100%;
 height:70px;
 box-shadow: 0px 2px 50px #5E5E5E;
 margin-top:0px; 
 
}

p.title
 {

 color:#EDEDED;
 font-family:verdana;
 font-size:30px;
 margin-bottom:10px;
 padding:10px;
 margin-left:80px;
 font-weight:bold;
 float:left;
 clear;
}


#navigation
{
 list-style-type:none; 
}

ul{
	margin-top:12px;
	padding:10px;
	margin-right: 20px;
	float:right;
	clear;

}
li 
{
 display:inline;
 padding:20px;
 margin-top:12px;
 

}
#nav a
{
 font-family:verdana;
 text-decoration:none;
 color:#EDEDED;
} 
#nav a:hover 
{
 color:red;
}

#nav p
{
margin-top:12px;
	padding:10px;
	margin-right: 20px;
}
#body 
{
 width:850px;
 margin:0px auto;
 margin-top:80px;
 font-family:verdana;
}

h2
{
	background: url('/assets/g.jpg') repeat;
	width: 100%;
    height:140px;
    margin:0 auto;
}

ul.scroll

{
    /*float:right;*/
    bottom:0px;
    top:0px;
    margin-right:20px;
}






/*home page css*/

